h1{
    text-align: center;
    color: rgb(94, 9, 23);
    border: 15px solid rgb(125, 17, 134);
    font-family: "comic sans MS";
}
h2{
    text-align: center;
    color: rgb(94, 9, 23);
}
body{
    background-image: url("https://i.ibb.co/tXkxfLc/6b28169e4853f377155c37c5e857e440.jpg");
    background-size: cover;
    background-position: center;
}
p{
    color: rgb(211, 37, 66);
    font-family: "Bradley Hand";
    text-align: center;
}
ul{
    color:rgb(125, 17, 134);
    font-family: "comic sans MS";
    text-align: center;
}